hw2/src/main/java/authorization_topdown/Authorization_topdown.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://hw2.flightticketreservation/authorization.service/authorization/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  name="Authorization"
                  targetNamespace="http://hw2.flightticketreservation/authorization.service/authorization/">

    <!--Schema-->
    <wsdl:types>
        <xsd:schema
                targetNamespace="http://hw2.flightticketreservation/authorization.service/authorization/"
                xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="InvalidCredentials" type="tns:InvalidCredentials"/>
            <xsd:element name="authorizeUser" type="tns:authorizeUser"/>
            <xsd:element name="authorizeUserResponse" type="tns:authorizeUserResponse"/>
            <xsd:complexType name="authorizeUser">
                <xsd:sequence>
                    <xsd:element name="arg0" type="tns:user" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="user">
                <xsd:sequence>
                    <xsd:element name="password" type="xs:string" minOccurs="0"/>
                    <xsd:element name="token" type="xs:string" minOccurs="0"/>
                    <xsd:element name="username" type="xs:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="authorizeUserResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="tns:user" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="InvalidCredentials">
                <xsd:sequence>
                    <xsd:element name="message" type="xs:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <!--Messages-->
    <wsdl:message name="authorizeUser">
        <wsdl:part element="tns:authorizeUser" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="authorizeUserResponse">
        <wsdl:part element="tns:authorizeUserResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="InvalidCredentials">
        <wsdl:part element="tns:InvalidCredentials" name="fault"/>
    </wsdl:message>

    <!--Port-->
    <wsdl:portType name="AuthorizationService">
        <wsdl:operation name="authorizeUser">
            <wsdl:input message="tns:authorizeUser" wsam:Action="http://hw2.flightticketreservation/authorization.service/authorization/AuthorizationService/authorizeUserRequest"/>
            <wsdl:output message="tns:authorizeUserResponse" wsam:Action="http://hw2.flightticketreservation/authorization.service/authorization/AuthorizationService/authorizeUserResponse"/>
            <wsdl:fault message="tns:InvalidCredentials" name="InvalidCredentials"/>
        </wsdl:operation>
    </wsdl:portType>

    <!--SOAP binding-->
    <wsdl:binding name="AuthorizationPortBinding" type="tns:AuthorizationService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="authorizeUser">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InvalidCredentials">
                <soap:fault name="InvalidCredentials" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <!--Service-->
    <wsdl:service name="Authorization">
        <wsdl:port binding="tns:AuthorizationPortBinding" name="AuthorizationPort">
            <soap:address location="http://localhost:8080/AuthorizationService/"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>