hw2/src/main/java/ticket/Ticket.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://hw2.flightticketreservation/ticket.service/ticket" name="Ticket" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://hw2.flightticketreservation/ticket.service/ticket" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://hw2.flightticketreservation/ticket.service/ticket" schemaLocation="Ticket_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getPriceAndAvailabilityOfItinerariesForDate">
    <part name="parameters" element="tns:getPriceAndAvailabilityOfItinerariesForDate"/>
  </message>
  <message name="getPriceAndAvailabilityOfItinerariesForDateResponse">
    <part name="parameters" element="tns:getPriceAndAvailabilityOfItinerariesForDateResponse"/>
  </message>
  <message name="ping">
    <part name="parameters" element="tns:ping"/>
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:pingResponse"/>
  </message>
  <message name="bookItinerary">
    <part name="parameters" element="tns:bookItinerary"/>
  </message>
  <message name="bookItineraryResponse">
    <part name="parameters" element="tns:bookItineraryResponse"/>
  </message>
  <portType name="TicketService">
    <operation name="getPriceAndAvailabilityOfItinerariesForDate">
      <input wsam:Action="http://hw2.flightticketreservation/ticket.service/ticket/TicketService/getPriceAndAvailabilityOfItinerariesForDateRequest" message="tns:getPriceAndAvailabilityOfItinerariesForDate"/>
      <output wsam:Action="http://hw2.flightticketreservation/ticket.service/ticket/TicketService/getPriceAndAvailabilityOfItinerariesForDateResponse" message="tns:getPriceAndAvailabilityOfItinerariesForDateResponse"/>
    </operation>
    <operation name="ping">
      <input wsam:Action="http://hw2.flightticketreservation/ticket.service/ticket/TicketService/pingRequest" message="tns:ping"/>
      <output wsam:Action="http://hw2.flightticketreservation/ticket.service/ticket/TicketService/pingResponse" message="tns:pingResponse"/>
    </operation>
    <operation name="bookItinerary">
      <input wsam:Action="http://hw2.flightticketreservation/ticket.service/ticket/TicketService/bookItineraryRequest" message="tns:bookItinerary"/>
      <output wsam:Action="http://hw2.flightticketreservation/ticket.service/ticket/TicketService/bookItineraryResponse" message="tns:bookItineraryResponse"/>
    </operation>
  </portType>
  <binding name="TicketPortBinding" type="tns:TicketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getPriceAndAvailabilityOfItinerariesForDate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ping">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="bookItinerary">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Ticket">
    <port name="TicketPort" binding="tns:TicketPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

